* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
 body {
    display:flex;
    justify-content: center;
 }

 header {
    background: #333;
    color: #fff;
    display: flex;
    min-width: 500px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 }

 header h1 {
    text-align: center;
 }
 header ul {
    list-style: none;
    display: flex;
    text-align: center;
 }


 header ul li {
    margin: 2px;
    padding: 5px;
 }

 header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border: 2px solid white;
    padding: 5px;
    border-radius: 7px;;
 }
 header ul li a:hover {
    color:#333;
    background-color: #fff;;
}